# Carpetas auxiliares
AUXILIAR/

# Node modules
node_modules/

# Output videos (no versionar archivos grandes)
output/*
!output/.gitkeep

# Input videos (no versionar videos de entrada)
input/*
!input/.gitkeep

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporal
*.tmp
*.bak
